* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

html, body {
    height: 100%;
    width: 100%;
}

#nav {
    height: 130px;
    width: 100%;
    padding: 0 120px;
    /* background-color: rgb(208, 208, 68); */
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    z-index: 99;
}

#nav img {
    height: 75px;
}

h4 {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.15vw;
}

video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
}

#main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.759);
}

#page1 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;

}

#page1 h1{
    font-size: 7.5vw;
    font-weight: 900;
    position: relative;

}

#page1 h1::before{
    content: "EAT. DRINK. PLAY.";
    position: absolute;
    color: #000;
    top: -5px;
    left: -5PX;
    -webkit-text-stroke: 1.5px #95c11e;
    z-index: -1;

   
}


#page1 h2{
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;

}

#page1 p{
    font-size: 17px;
    font-weight: 500;
    width: 40%;

}

#page2 {
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}

#cursor {
    height: 10px;
    width: 10px;
    background-color: #95c11e;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
}

#cursor-blur {
    height: 500px;
    width: 500px;
    background-color: #96c11e42;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    filter: blur(45px);
}

#scroller {
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
   

}

#scroller::-webkit-scrollbar {
    display: none;
}

#scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 50s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


#scroller h4{
    display: inline-block;
    font-size: 130px;
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    margin-right: 15px;
    transition: all linear 0.3s;
    color: #000;
    -webkit-text-stroke: 2px #95c11e;
}

#scroller h4:hover {
    color: #95c11e;
    -webkit-text-stroke: 2px #95c11e;
}

@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
}

#about {
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    padding: 0 50px;
    z-index: 10;
}

#about img {
    height: 220px;
    width: 220px;
    border-radius: 20px;
    object-fit: cover;
    /* background-color: aquamarine; */
}

#about-us {
    width: 50%;
    text-align: center;
}

#about-us h3{
    font-size: 54px;
    font-weight: 800;
    margin-bottom: 30px;
}

#about-us p{
    font-size: 20px;
    line-height: 26px;
    
}

#cards-container{
    height: 60vh;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    z-index: 10;

}

.card{
    height: 80%;
    width: 24%;
    /* background-color: aqua; */
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all ease 0.6s;

}

#card1 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
#card2 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4-1024x1024.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
#card3 {
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons-1024x682.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}

.overlay {
    height: 100%;
    width: 100%;
    background-color: #95c11e;
    padding: 30px;
    padding-top: 160px;
    opacity: 0;
    transition: all ease 0.6s;
}

.overlay h4{
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 20px;
    font-weight: 800;
}

.overlay p{
    color: #000;
    font-size: 16px;
}

.card:hover .overlay{
    opacity: 1;
}

.card:hover{
    transform: rotate3d(-1, 1, 0, 20deg);
}

#green-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30vh;
    background: linear-gradient(to left bottom, #119f3a, #ace022);
}

#green-div h4 {
    width: 45%;
    line-height: 50px;
    font-size: 27px;
    font-weight: 800;
    text-align: center;
    color: #000;
    text-transform: uppercase;
}

#green-div img{
    height: 100%;
    object-fit: cover;
    width: 10%;
    
}
  


